<div class="container" ng-controller="DishDetailController">
    <div class="row row-content">
        <div class="col-xs-12">
            <button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.menu">
                Back to Menu
            </button>
            <div class="media">
                <div class="media-left media-middle">
                    <a ui-sref="app.dishdetails({ id: dish._id })">
                        <img class="media-object img-thumbnail" ng-src="{{ dish.image }}" alt="Uthappizza">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{dish.name}}
                        <span class="label label-danger">{{dish.label}}</span>
                        <span class="badge">{{dish.price | currency}}</span></h2>
                    <p>{{dish.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-xs-offset-1">
            <div class="row">
                <h4 style="display: inline-block; padding-right: 10px;">Customer Comments</h4>
                <span class="text-muted">Sort by:</span>
                <input type="text" ng-model="commentFltr">
            </div>
            <blockquote ng-repeat="comment in dish.comments | orderBy: commentFltr">
                <p>{{ comment.rating }} Stars</p>
                <p>{{ comment.comment }} </p>
                <footer>{{ comment.author }}, {{ comment.date | date: 'MMM. d, y' }}</footer>
            </blockquote>
        </div>

        <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
            <ul class="list-unstyled">
                <li>
                    <blockquote ng-hide="commentForm.$invalid">
                        <p>{{ comment.rating }} Stars</p>
                        <p>{{ comment.comment }} </p>
                        <footer>{{ comment.author }}, {{ comment.date | date: 'MMM. d, y' }}</footer>
                    </blockquote>
                </li>
            </ul>

            <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>

                <div class="form-group" ng-class=" {'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
                    <label for="author" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input ng-model="comment.author" type="text" class="form-control" id="author" name="author" placeholder="Enter Name" required>
                        <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="helper-block">Your name is required</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Rating</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"> <input type="radio" name="rating" id="rating-1" value="1" ng-model="comment.rating"> 1 </label>
                        <label class="radio-inline"> <input type="radio" name="rating" id="rating-2" value="2" ng-model="comment.rating"> 2 </label>
                        <label class="radio-inline"> <input type="radio" name="rating" id="rating-3" value="3" ng-model="comment.rating"> 3 </label>
                        <label class="radio-inline"> <input type="radio" name="rating" id="rating-4" value="4" ng-model="comment.rating"> 4 </label>
                        <label class="radio-inline"> <input type="radio" name="rating" id="rating-5" value="5" ng-model="comment.rating"> 5 </label>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                    <label for="comment" class="col-sm-2 control-label">Your Comment</label>
                    <div class="col-sm-10">
                        <textarea ng-model="comment.comment" class="form-control" id="comment" name="comment" rows="5" required></textarea>
                        <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="helper-block">Comment text is required</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Send Feedback</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
